.voting-button{
    background-color: red;
    border: none;
    width:100px;
    height: 50px;
    color: white;
}

.voting-button:hover{
    background-color: darkred;
    transition: 0.45s ease-out;
}

.voting-button:disabled{
    background-color: gray;
    border: 1px solid black;
}

@media screen and (max-width: 480px) {
    .article-page-title {
        font-size: 1.5rem;
        inline-size: 320px;
        overflow-wrap: break-word;
    }
    .article-body {
        font-size: 15px;
        inline-size: 320px;
        overflow-wrap: break-word;
    }
  }