.comment-button{
    background-color: red;
    border: none;
    width: 100px;
    height: 25px;
    margin: 5px
}

.comment-button:hover{
    background-color: darkred;
    transition: 0.45s ease-out;
}

.comment-button:disabled{
    background-color: gray;
    border: 1px solid black;
}

span {
    color: white;
}