.topics-container {
    font-family: 'Mark Pro';
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    margin: 20px auto;
}