
nav {
    display: flex;
    justify-content: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.5rem;
  }
  
  .link {
    margin: 1rem;
    text-decoration: none;
    color: black;
  }
  
  .link:visited {
    color: black;  }

  .link:hover {
    border-bottom: 3px solid red;
    transition: 0.45s ease-in;
  }

  @media screen and (max-width: 480px) {
    nav {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.3rem;
    }
  }