* {
    font-family: 'Maven Pro';
}

.home-title {
    text-align: center;
}
.home-subtitle {
    text-align: center;
}

.login-message {
    text-align: center;
}

@media screen and (min-width: 480px) {
    .home-title {
        font-size: 30px;
    }
    .home-subtitle {
        font-size: 15px;
        text-align: center;
    }
    h4{
        font-size: 12px;
    }
  }